.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}
.display {
    width: 320px;
    height: 200px;
    border: 2px solid #457b9d;
    border-radius: 13px;
    margin: 10px;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    font-family: 'Newsreader', serif;
    color: #2C3E50 ;
}
.display:hover {
    border: 2px solid #457b9d;
}
.count {
    width: 350px;
    height: 190px;
    border: 2px solid #457b9d;
    border-radius: 13px;
    margin: 10px;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    font-family: "Courier New";
    background: #E5E7E9;
}